:root{
    --primary: #C05A3E;
    --secondary: #D48C24;
    --tertiary: #1A1A1A;
    --neutral: #0F0F0F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--neutral);
    height: 100dvb;
}


.carrocel-product {
    background-color: var(--primary);
    display: flex;
}

.card-product {
    background-color: aliceblue;
    width: 240px;
    height: 280px;
}

/**************************** HEADER *******************************/

header{
    color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
}

ul{
    display: flex;
    list-style-type: none;
}

.nav-link{
    display: flex;
    border-radius: 0px;
    padding-left: 16px;
    color: var(--secondary);
}

.nav-link:hover{
    cursor: pointer;
    color: var(--primary);
}

.nav-link:active{
    color: green;
    border-bottom: 8px;
}




.ask{
    display: flex;
    background-color: var(--primary) ;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

/**************************** HEADER *******************************/