:root{
    --primary: #C05A3E;
    --secondary: #D48C24;
    --tertiary: #1A1A1A;
    --neutral: #0F0F0F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvb;
}


.carrocel-product {
    background-color: var(--primary);
    display: flex;
}

.card-product {
    background-color: aliceblue;
    width: 240px;
    height: 280px;
}

