:root{
    --primary: #C05A3E;
    --secondary: #D48C24;
    --tertiary: #131313;
    --neutral: #575555;
    --background-card: #1C1B1B;
    
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--tertiary);
  height: 100dvb;
}

/**************************** HEADER *******************************/

header {
  color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
}

ul {
  display: flex;
  list-style-type: none;
}

.nav-link {
  display: flex;
  border-radius: 0px;
  padding-left: 16px;
  color: var(--secondary);
}

.nav-link:hover {
  cursor: pointer;
  color: var(--primary);
}

.nav-link:active {
  color: green;
  border-bottom: 8px;
}

.ask {
  display: flex;
  background-color: var(--primary);
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

.ask {
  display: flex;
  background-color: var(--primary);
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

/**************************** HEADER *******************************/
/**************************** BANNER *******************************/

#nav-cardapio {
  display: flex;
  background-color: var(--primary);
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}

#nav-contado {
  display: flex;
  justify-content: space-evenly;
  border-radius: 6px;
  border: solid var(--primary);
  font-size: 12px;
  padding: 8px 16px;
  color: var(--primary);
}

/**************************** BANNER *******************************/
/****************************  BLOG  *******************************/
.carrocel-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.carrocel-product {
  display: flex;
  gap: 12px;
}

.card-product {
  background-color: aliceblue;
  width: 252px;
  height: 322px;
  background-color: #1c1b1b;
  overflow: hidden;
  border-radius: 6px;
}

.box-img {
  width: 252px;
  height: 182px;
  margin-right: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 6px 6px 0px 0px;
  
}

.text-word{
    color:#D1BCAB;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    
}
.box-title{
    color:var(--primary);
    padding: 10px;
    font-size: 10px;
}
    .sub{
      
      background-color: var(--tertiary);
      color: azure;
      font-size: 32px;
      padding: 10px;
      margin-bottom: 12px;
    }
    
    .boxh3{
      color: white;
      font-size: 14px;
      padding: 10px;

      }
/****************************  BLOG  *******************************/
.footer{
  background-color: rgb(31, 34, 34);
  
}
.blogone{
  text-align: center;
  color: #C05A3E;
  font-size: 26px;
  font-weight: bold;
}